---
# INSTALLATION


- name: Add resilio-sync package signing key
  rpm_key:
    key: https://linux-packages.resilio.com/resilio-sync/key.asc


- name: Add resilio-sync yum repository
  yum_repository:
    name: resilio-sync
    description: Resilio Sync RPM Repository
    baseurl: https://linux-packages.resilio.com/resilio-sync/rpm/$basearch
    gpgcheck: True
    gpgkey: https://linux-packages.resilio.com/resilio-sync/key.asc


- name: Install resilio-sync
  package:
    name: resilio-sync
    state: latest
  notify:
    - Restart resilio-sync

# CONFIG DIRECTORY


- name: Create configuration directory
  file:
    path: "{{ resilio.service.configuration.directory }}"
    state: directory
  become: True
  become_user: "{{ user.name }}"

- name: Configure resilio
  template:
    src: resilio/configuration.j2
    dest: "{{ resilio.service.configuration.directory }}/{{ resilio.service.configuration.configuration_filename }}"
  become: True
  become_user: "{{ user.name }}"
  notify:
    - Restart resilio-sync

- name: Copy resilio license key
  copy:
    src: resilio/license.btskey
    dest: "{{ resilio.service.configuration.directory }}/{{ resilio.service.configuration.license_filename }}"
  become: True
  become_user: "{{ user.name }}"
  notify:
    - Restart resilio-sync


# RUNTIME DIRECTORY


- name: Create runtime directory
  file:
    path: "{{ resilio.service.runtime.directory }}"
    state: directory
  become: True
  become_user: "{{ user.name }}"


# LIBRARY DIRECTORY


- name: Create library directory
  file:
    path: "{{ resilio.service.library.directory }}"
    state: directory
  become: True
  become_user: "{{ user.name }}"


# SETUP IDENTITY


- name: Create resilio identity
  command:
    argv:
      - /usr/bin/rslsync
      - --identity
      - "{{ resilio.service.configuration.identity }}"
      - --config
      - "{{ resilio.service.configuration.directory }}/{{ resilio.service.configuration.configuration_filename }}"
      - --nodaemon
    creates: "{{ resilio.service.library.directory }}/sync.dat"
  become: True
  become_user: "{{ user.name }}"
  register: resilio_identity_result
  failed_when: resilio_identity_result.rc != 0
  notify:
    - Restart resilio-sync

- name: Display resilio identity output
  debug:
    var: resilio_identity_result
  when: resilio_identity_result.rc != 0

- name: Fail if resilio identity failed
  fail:
    msg: "rslsync identity failed"
  when: resilio_identity_result.rc != 0

- name: Apply resilio license
  command:
    argv:
      - /usr/bin/rslsync
      - --license
      - "{{ resilio.service.configuration.directory }}/{{ resilio.service.configuration.license_filename }}"
      - --config
      - "{{ resilio.service.configuration.directory }}/{{ resilio.service.configuration.configuration_filename }}"
      - --nodaemon
    creates: "{{ resilio.service.library.directory }}/License"
  become: True
  become_user: "{{ user.name }}"
  register: resilio_license_apply_result
  failed_when: resilio_license_apply_result.rc != 0
  notify:
    - Restart resilio-sync

- name: Display resilio license apply output
  debug:
    var: resilio_license_apply_result
  when: resilio_license_apply_result.rc != 0

- name: Fail if resilio license apply failed
  fail:
    msg: "rslsync license apply failed"
  when: resilio_license_apply_result.rc != 0


# CONFIGURE SYSTEMD


- name: Configure resilio-sync systemd user-service unit
  template:
    src: resilio/service.j2
    dest: "{{ resilio.service.systemd.path }}"
  notify:
    - Restart resilio-sync

- name: Configure resilio-sync systemd user-service
  systemd:
    name: resilio-sync
    enabled: True
    state: started
    daemon_reload: True
    scope: user
  become: True
  become_user: "{{ user.name }}"

- name: Configure resilio-sync systemd system-service
  systemd:
    name: resilio-sync
    enabled: False
    state: stopped
    scope: system

- name: Enable lingering for user
  command:
    cmd: "loginctl enable-linger {{ user.name }}"
    creates: "/var/lib/systemd/linger/{{ user.name }}"
