---
# Reference Documentation:
# https://help.gnome.org/admin/system-admin-guide/stable/desktop-favorite-applications.html.en

- name: Configure gnome dash favorite-apps
  dconf:
    key: "/org/gnome/shell/favorite-apps"
    value: "{{ gnome.desktop.dock.favorite_applications | to_json }}"
    state: present
  become_user: "{{ user.name }}"
  become: True
