{
  "device_name": "{{ ansible_hostname }}",
  "listening_port": 0,

  "storage_path": "{{ resilio.service.library.directory }}",

  "pid_file": "{{ resilio.service.runtime.directory }}/{{ resilio.service.runtime.pid_filename }}",

  "use_upnp": true,

  "download_limit": 0,
  "upload_limit": 0,

  "directory_root": "{{ resilio.folders.directory }}",
  "directory_root_policy": "all",

  "shared_folders": [
{% set comma = joiner(",") %}
{% set workstation_type = workstation_type | default('default') %}
{% set folder_keys = resilio.folders.workstation_type_folders[workstation_type] %}
{% for folder_key in folder_keys %}
    {% set folder = resilio.folders.definitions[folder_key] %}
    {{ comma() }}
    {
      "dir": "{{ resilio.folders.directory }}/{{ folder.name }}",
      "secret": "{{ folder.secret }}",
      "selective_sync": {{ folder.selective_sync | bool | lower }}
    }
{% endfor %}
  ],

  "folder_rescan_interval": 600
}
