[Unit]
Description=Resilio Sync service
Documentation=https://help.getsync.com/
After=network.target

[Service]
Type=forking
Restart=on-failure
PIDFile={{ resilio.service.runtime.directory }}/{{ resilio.service.runtime.pid_filename }}
ExecStart=/usr/bin/rslsync  \
  --config {{ resilio.service.configuration.directory }}/{{ resilio.service.configuration.configuration_filename }}
ExecStartPost=/bin/sleep 1

# Security Hardening
ProtectHome=read-only
ProtectSystem=strict
PrivateTmp=true
NoNewPrivileges=true
ReadWritePaths={{ resilio.folders.directory }} {{ resilio.service.configuration.directory }}

[Install]
WantedBy=multi-user.target
