---
- name: Install python3-psutil
  package:
    name: python3-psutil
    state: latest


- name: Include gnome components
  include_tasks:
    file: "gnome/{{ component }}.yml"
  loop_control:
    loop_var: component
  loop:
    - clock_format
    - desktop_background
    - favorite_applications
    - power_settings
    - screen_lock
