---
- name: Install zsh
  package:
    name: zsh
    state: latest


- name: Set zsh as user shell
  user:
    name: "{{ user.name }}"
    shell: "{{ user.shell }}"


- name: Clone ohmyzsh repository
  git:
    repo: "{{ zsh.oh_my_zsh.repo }}"
    dest: "{{ zsh.oh_my_zsh.dest }}"
  become: True
  become_user: "{{ user.name }}"


- name: Clone enabled custom zsh plugins
  git:
    repo: "{{ zsh.custom.plugins[item].repo }}"
    dest: "{{ zsh.custom.plugins[item].dest }}"
  become: True
  become_user: "{{ user.name }}"
  loop: "{{ zsh.custom.plugins.enabled }}"
  when: zsh.custom.plugins


- name: Configure ~/.zshrc
  template:
    src: zsh/zshrc.j2
    dest: ~/.zshrc
  become: True
  become_user: "{{ user.name }}"


- name: Configure ~/.zlogin
  copy:
    src: files/zsh/.zlogin
    dest: ~/.zlogin
  become: True
  become_user: "{{ user.name }}"


- name: Create ~/.config/zsh/autoload directory
  file:
    path: ~/.config/zsh/autoload
    state: directory
  become: True
  become_user: "{{ user.name }}"


- name: "Configure ~/{{ zsh.autoload.path }} functions"
  copy:
    src: "files/zsh/autoload/{{ function }}"
    dest: "~/{{ zsh.autoload.path }}/{{ function }}"
  with_items: "{{ zsh.autoload.functions }}"
  loop_control:
    loop_var: "function"
  become: True
  become_user: "{{ user.name }}"
