github.com:
    users:
        {{ github.user }}:
            oauth_token: {{ github.token }}
    git_protocol: {{ github.git_protocol }}
    user: {{ github.user }}
    oauth_token: {{ github.token }}
